In [3]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [21]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://XARVIS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [22]:
df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

In [7]:
len(df)

8807

In [11]:
df[df.show_id == 's5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [14]:
max( df.type.str.len())

7

In [16]:
max( df.cast.dropna().str.len())

771

In [24]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64